<a href="https://colab.research.google.com/github/marcos-code/Pandas/blob/main/Como_Calcular_estat%C3%ADsticas_sum%C3%A1rias.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
titanic = pd.read_csv("https://raw.githubusercontent.com/pandas-dev/pandas/main/doc/data/titanic.csv")
titanic.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [3]:
# idade média dos passageiros
titanic["Age"].mean()

29.69911764705882

In [4]:
# Qual é a idade mediana e o preço da tarifa dos passageiros do Titanic?
titanic[["Age", "Fare"]].median()

Age     28.0000
Fare    14.4542
dtype: float64

In [4]:
titanic[["Age", "Fare"]].describe()

              Age        Fare
count  714.000000  891.000000
mean    29.699118   32.204208
std     14.526497   49.693429
min      0.420000    0.000000
25%     20.125000    7.910400
50%     28.000000   14.454200
75%     38.000000   31.000000
max     80.000000  512.329200

Em vez das estatísticas predefinidas, combinações específicas de estatísticas agregadas para determinadas colunas podem ser definidas usando o método DataFrame.agg():

In [5]:
titanic.agg(
    {
        "Age": ["min", "max", "median", "skew"],
        "Fare": ["min", "max", "median", "mean"],
    }
)

              Age        Fare
min      0.420000    0.000000
max     80.000000  512.329200
median  28.000000   14.454200
skew     0.389108         NaN
mean          NaN   32.204208

Agregando estatistica agrupadas por categoria

In [6]:
# Qual é a idade media para passageiros do Titanic Masculino e Feminino

titanic[["Sex", "Age"]].groupby("Sex").mean()

              Age
Sex
female  27.915709
male    30.726645

No exemplo anterior, selecionamos explicitamente as duas colunas primeiro. Caso não, o método é aplicado em cada coluna contendo colunas numéricas:"mean

In [7]:
titanic.groupby("Sex").mean()

        PassengerId  Survived    Pclass  ...     SibSp     Parch       Fare
Sex                                      ...
female   431.028662  0.742038  2.159236  ...  0.694268  0.649682  44.479818
male     454.147314  0.188908  2.389948  ...  0.429809  0.235702  25.523893

[2 rows x 7 columns]

In [8]:
titanic.groupby("Sex")["Age"].mean()

Sex
female    27.915709
male      30.726645
Name: Age, dtype: float64

Qual é o preço médio da passagem para cada uma das combinações de sexo e classe de cabine?

In [9]:
titanic.groupby(["Sex", "Pclass"])["Fare"].mean()

Sex     Pclass
female  1         106.125798
        2          21.970121
        3          16.118810
male    1          67.226127
        2          19.741782
        3          12.661633
Name: Fare, dtype: float64

#Contagem de Registro por categoria

In [10]:
# Qual o numero de passageiros em cada uma das alas de cabine?
titanic["Pclass"].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [11]:
titanic.groupby("Pclass")["Pclass"].count()

Pclass
1    216
2    184
3    491
Name: Pclass, dtype: int64