<a href="https://colab.research.google.com/github/marcos-code/Pandas/blob/main/tutorial_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(
    {
        "Name":[
                "Braund, Mr. Owen Harris",
                "Allen, Mr.William Henry",
                "Bonnell, Miss.Elizabeth",
        ],
          "Age":[22, 35, 58],
          "Sex":["male", "male","female"]
        
    }
)

df

                      Name  Age     Sex
0  Braund, Mr. Owen Harris   22    male
1  Allen, Mr.William Henry   35    male
2  Bonnell, Miss.Elizabeth   58  female

In [ ]:
# interessado em trabalhar somente com os dados da coluna Age
df["Age"]

0    22
1    35
2    58
Name: Age, dtype: int64

In [ ]:
# Posso criar um do zero também: Series
ages = pd.Series([22, 35, 58], name="Age")
ages

0    22
1    35
2    58
Name: Age, dtype: int64

In [ ]:
# Quero saber a idade máxima dos passageiros
df["Age"].max()

58

In [ ]:
# ou para series
ages.max()

58

In [ ]:
# estatisticas básicas dos dados numericos da minha tabea de dados
df.describe()

             Age
count   3.000000
mean   38.333333
std    18.230012
min    22.000000
25%    28.500000
50%    35.000000
75%    46.500000
max    58.000000